@charset "UTF-8";

body
{
  background-image: -webkit-linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url(../storage/images/website/welcome1.jpg);
  background-image: -o-linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url(../storage/images/website/welcome1.jpg);
  background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url(../storage/images/website/welcome1.jpg);

  background-size: cover;
  background-position: center center;
}

.row
{
  margin: 18% auto 0% auto;
}
