@charset "utf-8";

#my-nav {
    margin-top: 0 !important;
    height: 70px !important;
}

nav .container{
  height: 100% !important;
  padding: 1% !important;
}

#social{
	margin-top: -20px !important;
}
